body {
  font-family: Arial, sans-serif;
}

.timeline {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.timeline-container {
  position: relative;
}

.timeline-item {
  position: relative;
  z-index: 1;
}

.timeline-icon {
  background-color: #FF9F55;
  position: absolute;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  top: 30px;
  left: calc(50% - 10px);
  z-index: 1000;
}

.timeline-content {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 20px 30px -15px rgba(65, 62, 101, 0.09);
  padding: 20px;
  position: relative;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

.timeline-title {
  font-family: 'Georgia', serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}

.timeline-date {
  text-align: right;
  padding-top: 5px;
  font-family: 'Georgia', serif;
  font-size: 12px;
  font-weight: 300;
}

.timeline-item:nth-child(even) .timeline-content {
  position: relative;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  margin-left: 50%;
}

.timeline-item:nth-child(odd) .timeline-content {
  margin-right: 50%;
}

.timeline-item:before {
  background-color: #FF9F55;
  content: '';
  height: 100%;
  top: 0;
  left: 50%;
  position: absolute;
  width: 3px;
}

::after {
  clear: both;
  content: '';
  display: block;
}
